// _variables.scss

$primary-color: #ed1e79;
$secondary-color: #cb1063;
$tertiary-color: #cccccc;
$quaternary-color: #f7c2be;
$quinary-color: #e01507;
$black-color: #000000;
$gray-color: #4b5563;
$light-gray-color: #c1efe0;
$light-pink-color: #fbc9e1;
$light-yellow-color: #ffeaca;
$orange-color: #ffa826;
